
/* HEADER */
header {
	background-color: #ffc266;
	float: left;
	margin: 0 0 2em 0;
	padding: 0 0 5% 0;
	width: 100%;
	background-image: url('../images/bears7.jpg');
	height: 20vh;
}

header p {
	text-align: center;
	margin: 1% 0 1%;
	color: #FFFFFF;
	font-size: 1.5em;
}

h1 {
	color: white;
	margin: 0;
	font-size: 4em;
	text-align: center;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#logo-img {
	width: 12%;
	margin-top: 0;
	padding-top: 0;
}

.short-intro {
	width: 0;
	height: 0;
	visibility: hidden;
}

nav { text-align: center; }

nav a { color: white; }

nav a:hover{ color: #37261E; }

a { text-decoration: none; }

body {
	background-color: #FFFFFF;
	color: #FFFFFF;
	font-family: 'Homenaje', sans-serif;
}

.menu { 
	list-style-type: none;
	font-family: 'Homenaje', sans-serif;
	margin: 2% 0;
	padding-left: 0;
}

.menu-text {
	visibility: hidden;
	width: 100%;
}

.menu li {
	font-size: 1.1em;
	display: inline-block;
	color: #FFFFFF;
	margin: 0 2% 0 2%;
}

.sub {
	padding: 0;
	display: inline-block;
	visibility: visible;
	width: 100%;
}

/* BODY */

section {
	max-width: 100%;
	margin: 0 auto;
}

h2 {
	text-align: center;
	padding-bottom: 7%;
	padding-top: 7%;
	margin: 0;
	font-size: 3em;
	vertical-align: middle;
}

h3 {
	text-align: center;
	padding-bottom: 7%;
	padding-top: 7%;
	margin: 0;
}

article {
	padding-bottom: 7%;
	width: 100%;
	background-color: #E86635;
}

article p{ display: none; }
article:hover p { 
	display: block; 
	animation-name: animators;
	animation-duration: 0.8s;

}

@keyframes animators {
	from { top: 0; opacity: 0; }
	to { top: 5em; opacity: 1; }
}

article:first-child { background-color: #FCBD56; }

p { 
	padding-right: 10%;
	padding-left: 10%;
	font-size: 1.5em;
}

img { max-width: 100%; }

#images {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: inherit;
	height: inherit;
}

#images li {
	width: 100%;
	height: 90%;
	margin-bottom: -0.4em;
}

#imagesAbout li {
	width: 100%;
	height: 90%;
	margin-bottom: -0.4em;
}

#imagesAbout {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: inherit;
	height: inherit;
}

footer {
	bottom: 0;
	right: 0;
	left: 0;
	position: relative;
	text-align: center;
	background-color: #FAB540;
}
footer p { 
	background-color: #FAB540; 
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 1em;
	padding-top: 1em;
}
