<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mikaelas Portfolio</title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700">
		<link href="https://fonts.googleapis.com/css?family=Homenaje" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" href="../css/responsive.css">
	</head>
	<body>
		<header>
			<div class="intro">
				<a href="../index.html"><img src="../images/logo.jpg" id="logo-img"></a>
				<a href="../index.html" id="portfolio"> <h1> About me </h1> </a>
				<p class="short-intro"> On this page you can read some stuff about me and what i like to do! </p>
			</div>
			<nav>
				<ul class="menu">
					<li class="menu-text"> Menu 
						<ul class="sub">
							<li><a href="../index.html" class="selected"> Home </a></li>
							<li><a href="about.html"> About </a></li>
							<li><a href="contact.html"> Contact </a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<section>
			<article>
				<h2>• Om mig •</h2>

				<p> Mitt namn är Mikaela Törnlund, jag är 22 år och kommer från den lilla hålan Floda cirka 20 minuter utanför Göteborg. Jag gillar katter, videospel och allt kreativt.</p>
			</article>

			<ul id="imagesAbout">
				<li><img src="../images/me.jpg" id="picture-me"></li>
				<li><img src="../images/me2.jpg"></li>
			</ul>
			<div style="clear:both"></div>
			<article>
				<h2>• Vem är jag och vad gör jag •</h2>

				<p> För tillfället bor jag i Göteborg och har gjort sedan jag började studera på Göteborgs Universitet för två år sedan. Min sambo och jag bor på Lindholmen och pluggar båda Software Engineering and Management. </p> 

				<p> Mina vardagliga intressen och aktiviteter består av att gå till gymmet och lyfta vikter och även att dansa. Videospel tar upp mycket av min fritid och älskar att uppslukas av snygg grafik och design. Jag äger även en Wacom ritplatta som jag försöker att använda så mycket som möjligt och tror att det kommer att hjälpa mig mycket med min framgång i web-design. </p>

				<p> Jag har alltid varit väldigt intresserad av att måla och rita men även mattematik ligger mig varmt om hjärtat. I gymnasiet gick jag estetisk inrikting med fokus på bild och formgvning och har på senaste tiden tagit upp målandet igen men i digital form. Alla bilder i min portfolio (även header) har jag gjort eller tagit. </p>

				<p> Jag är väldigt tacksam över att få gå den här kursen och är väldigt ivrig att få lära mig mer om front-end design. Det känns väldigt rätt för mig och jag hoppas att jag kan utvecklas mycket och ser verkligen fram emot att jobba som front-end designer </p>
			</article>
		</section>
		<footer>
	  		<p> &copy; Mikaela Törnlund 2016 </p>
	  	</footer>
	</body>
</html>