<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Untitled Document</title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700">
		<link href="https://fonts.googleapis.com/css?family=Homenaje" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" href="../css/responsive.css">
	</head>
	<body>
		<header>
			<div class="intro">
				<a href="../index.html"><img src="../images/logo.jpg" id="logo-img"></a>
				<a href="../index.html" id="portfolio"> <h1> Contact Information </h1> </a>
				<p class="short-intro"> Here you can find my contact information. Anything you need to get a hold of me! </p>
			</div>
			<nav>
				<ul class="menu">
					<li class="menu-text"> Menu 
						<ul class="sub">
							<li><a href="../index.html" class="selected"> Home </a></li>
							<li><a href="about.html"> About </a></li>
							<li><a href="contact.html"> Contact </a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<section>
			<article>
				<h2>• Kontakta mig •</h2>
				<a href="https://www.facebook.com/mikaela.tornlund"> <p>Facebook </a> <- Klicka här! <p>
				<p> Email : mikaelatornlund@hotmail.se </p>
				<p> LinkedIn : Coming soon</p>
			</article>
		</section>
		<footer>
	  		<p>&copy; Mikaela Törnlund 2016</p>
		</footer>
	</body>
</html>